.container 
	{overflow: auto;}

.myphoto {
		  margin-top: 8px;
		  width: 300px;
		  height:300px;
		  background-color: white;
		  border-radius: 50%;
		  position: left;
		  padding: 10px;
		}
.grow img {
	-webkit-transition: all 1s ease;
     	-moz-transition: all 1s ease;
       	-o-transition: all 1s ease;
      	-ms-transition: all 1s ease;
          transition: all 1s ease;
}
.grow img:hover {
	width:400px;
	height:400px;
}

.text{text-align: center;
	  font-family:'Helvetica', serif, 400;
	  width: 26.5%;
	  border-radius: 55px;
	  padding: 1rem;
	  background-color: #696969;
	  color: #E0EBEB;
	  overflow: hidden;}
.Main 
{overflow: hidden;
float: right;}

.Experiences
{font-family: 'Lobster Two', cursive;
 color: #FFA07A;
 font-size: 40px;}

.List{
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	font-size: 20px;
}

.description {font-family: 'Cabin', Helvetica, Arial, sans-serif;}
.text {
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
}
.date
{font-family: 'Cabin', Helvetica, Arial, sans-serif;
	font-size: 10px;}
.job {font-weight: 700px;}

.social 
{float: right;
	overflow: hidden;
}
