*,
*:after,
*:before {box-sizing: border-box;}

.background {
	background-color: grey;
}
.nav-bar{
  overflow: auto;
  background-color: #3DB588;
  color: white;
  padding: 0 30px;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  	}
.title
	{margin: 0;
	line-height: 70px;
	font-size: 50px;
	font-family: 'Lobster Two', cursive;
	padding: 0px;
	width: 80%;
	color:black;
	float: left;
	}

.nav-list
{float: left;}

.text {
  		font-size: 15px;
  text-align: right;
}

.nav-item{
	font-size: 15px;
	margin: 0;
	display: inline-block;
	padding: 10px;
}

