*,
*:after,
*:before {box-sizing: border-box;}

.background {
	background-color: grey;
}

.nav-bar{
  overflow: auto;
  background-color: #696969;
  color: white;
  padding: 0 30px;
	  	}
.title
	{margin: 0;
	line-height: 70px;
	font-size: 50px;
	font-family: 'Helvetica', cursive, 700;
	padding: 0px;
	width: 80%;}

.nav-list
{ font-family: Helvetica;
  font-size: 2px;
text-align: right, top;

}

.nav-item{
	font-size: 15px;
	margin: 0;

}
.nav-item{
	display: inline-block;
	padding: 10px;
}



