*,
*:after,
*:before {box-sizing: border-box;}

.background {
	background-image: url("whitebackground.jpg")
}

.nav-bar{
  overflow: auto;
  background-color: #696969;
  color: white;
  padding: 0 30px;
	  	}
.title
	{margin: 0;
	line-height: 70px;
	font-size: 50px;
	font-family: 'Amatic SC', cursive, 700;
	padding: 0px;
	width: 80%;}

.nav-list
{ font-family: Helvetica;
  font-size: 2px;
text-align: right, top;

}

.nav-item{
	font-size: 15px;
	margin: 0;

}
.nav-item{
	display: inline-block;
	padding: 10px;
}


.myphoto {
		  margin-top: 8px;
		  width: 300px;
		  height:300px;
		  background-color: white;
		  border-radius: 50%;
		  position:fixed;
		}
.container{
	height: 100%;
	overflow: auto;

}
.paragraph
{
width: 30%;
border-radius: 70px;
padding: 1rem;
background-color: white;
}

.text{text-align: center;
	  font-family:'Kreon', serif, 400;}

.image
{padding-left: 50px;
 padding-bottom: 20px;
 padding-top: 20px;
 padding-right: 20px;}
 
.parapic
{text-align: left;
overflow: hidden;}

.tagline
{font-family: Helvetica;
background-color: #FAEBD7; 
font-size: 40px;
text-align: center;
border-radius: 20%;}

.main{width: 100%;
     float: top;
     overflow:hidden;
}
.Jobs{font-size: 25px;
	  text-align: center;
	  font-family:'Open Sans Condensed', sans-serif;}
.plus
{font-size: 40px;
text-align: center;}

.list{font-size: 20px;
      text-align: center;}

.dbrs{font-size: 10px;}
.windsor{font-size: 10px;}
.disney{font-size: 10px;}
.chapters{font-size: 10px;}

.navigator
{font-size: 25px;
 text-align: right;
 color: black;
 background-color: white;

